/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #f8f8f8;
}

a.active {
    color: #23527c;
    text-decoration: underline;
}

.form-container {
    margin: 0 auto;
    max-width: 640px; 
}

.form-container > h1 {
    margin-top: 0;
    margin-bottom: 4rem;
}

.overflow-hidden {
    overflow: hidden;
}

button[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 4rem;
}
